SESSION_SECRET=iajdojwdnapoekfiahwdkoalsmcjaeodkwaodkawodjawd

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=base_htmx

AWS_ACCESS_KEY_ID=your aws access key
AWS_SECRET_ACCESS_KEY=aws secret access key
AWS_REGION=europe-central-1 
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0 