SESSION_SECRET=iajdojwdnapoekfiahwdkoalsmcjaeodkwaodkawodjawd

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=base_htmx

AWS_ACCESS_KEY_ID=AKIA4RFO7I6DDCJGBKQE
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=europe-central-1 
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0 